* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand" !important;
}

br {
    display: none;
}

.body-child {
    position: relative;
    z-index: 1;
}


a {
    text-decoration: none;
    cursor: pointer;
}

.red-border {
    outline: red solid 2px !important;
}

.black-text {
    color: black !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.black {
    background-color: black !important;
    color: white;
}

.negative-z-index {
    z-index: -1;
}

:root {
    --animate-duration: 1400ms;
    --animate-delay: 0.1s;

}

body {
    background-color: #171717fa;
}

.hidden {
    display: none !important;
}

.not-hidden {
    display: block !important;
}

.border-none {
    border: none;
}

.border-none:focus {
    outline: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.text-align-center {
    text-align: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-one {
    flex: 1;
}

.flexwrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.small-margin-right-gap {
    margin-right: 10px;
}

.small-margin-left-gap {
    margin-left: 10px;
}

.small-margin-top-gap {
    margin-top: 4px !important;
}

.small-margin-bottom-gap {
    margin-bottom: 4px !important;
}

.margin-bottom-spacing {
    margin-bottom: 8px;
}

.header-styling {
    background-color: #171717;
    color: white;
}

.nav-styling {
    position: relative;
    font-size: clamp(13px, 1.3vw, 20px);
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-styling a {
    color: white;
}

.logo-wrapper-header {
    max-width: 144px;
    left: 32px;
    top: 12px;
}

.logo-wrapper-header img {
    height: 100%;
    width: 100%;
}

.padding-left-right-miniscule {
    margin-left: clamp(10px, 2vw, 18vw);
    margin-right: clamp(10px, 2vw, 22vw);
}

.light-highlight-for-show-this-site-is-the-one-im-on {
    background-color: #343434 !important;
}

.car-rental-text {
    font-size: 22px;
}

.home-page-container {
    margin-left: 40px;
    margin-bottom: 60px;
    border-radius: 0px 20px 0px 20px;

    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auckland-image-url {
    background-image: url("../img/auckland4.jpg");
}

.wellington-image-url {
    background-image: url("../img/wellington.jpg");
}

.christchurch-image-url {
    background-image: url("../img/christchurch.jpg");
}

.text-part-of-section {
    color: white;
}

.text-part-of-section h3 {
    font-size: 22px;
    max-width: 300px;
}

.text-part-of-section h1 {
    font-size: 40px;
    max-width: 300px;
}

.text-part-of-section p {
    font-size: 18px;
    max-width: 500px;
}

.white-container {
    background-color: rgba(255, 255, 255, 0.879);
    padding: 20px 30px;
}

select {
    font-size: 16px;
}

.input-holder input {
    width: 200px;
}

.search-icon-img-wrapper {
    max-width: 40px;
    max-height: 40px;
    background-color: #41913C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
}

.search-icon-img-wrapper img {
    height: 100%;
    width: 100%;

}

.input-holder * {
    height: 50px;
    min-width: 307px;
}



.fuel-cost-div p {
    font-size: 20px;
}

.this-vehicle-burns-p {
    font-size: clamp(16px, 2.4vw, 18px) !important;
}

.more-info-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(46, 46, 46);
}

.more-info-milestone {
    font-size: 40px;
    color: white;
}

.more-info-img-wrapper {
    max-height: 500px;
    max-width: 500px;
}

.more-info-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.pair {
    margin: 0 auto;
    padding: 40px;
}

.part-one {
    flex: 1;
    max-width: 500px;
}

.part-two {
    flex: 1;
}

/* ------------------------------------------ */
/*              results page */
/* ------------------------------------------ */

.nice-margin-page {
    margin: 0 40px;
}

.title-result {
    color: white;
    font-size: clamp(28px, 3vw, 40px);
    text-align: center;
    margin-bottom: 24px;
    margin-top: 40px;
    position: relative;
}

.found-result {
    color: white;
    font-size: clamp(16px, 1.6vw, 18px);
    text-align: center;
    margin-bottom: 40px;
}

#results-days {
    font-size: clamp(30px, 3.2vw, 44px);
}

#results-people {
    font-size: clamp(30px, 3.2vw, 44px);
}

.found-amount {
    font-size: clamp(20px, 1.8vw, 22px);
}

#results-location {
    font-size: clamp(20px, 1.8vw, 22px);
}

#refine-search {
    margin: 0 auto;
    color: white;
    max-width: 1000px;
}

#theirdaysandpeople {
    font-weight: 800;
}

.refine-search-h1 {
    color: #fff;
    margin: 30px 0 20px 0;
}

#refine-search p {
    margin-left: 4px;
}

#refine-search ul {
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 20px;
}

.cute-dog-img-wrapper {
    margin: 0 auto 40px auto;
    height: 540px;
    max-width: 100%;
    border-radius: 10px;
}

.cute-dog-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lighter-green {
    color: #77ED70;
}


#dropdown-closer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#modal-closer {
    backdrop-filter: brightness(0.5) blur(3px);
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

.arrow-content div *:hover {
    background-color: white;
    color: #171717;
}

.arrow-container {
    overflow: scroll;
}

.arrow-content div * {
    cursor: pointer;
}


.arrow-content {
    width: 43px;
    position: absolute;
    font-size: 26px;
    color: white;
    background-color: rgb(46, 46, 46);
    top: 44px;
    left: 0px;
    right: 0px;
    text-align: center;
    /* border:white solid 4px; */
}

.arrow-container {
    z-index: 3;
}

.arrow {
    border: solid #77ED70;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



.info-section-card {
    margin: 30px auto;
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
    border-radius: 0 8px 0 8px;
    overflow: hidden;
}

.img-wrapper-car {
    width: 300px;
    height: 240px;
    margin: auto 0;
}

.modal-img-wrapper {
    max-height:340px;
    max-width: 500px;
}

.modal-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper-car img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
}

.info-about-car {
    margin-left: 12px;
    margin-right: 12px;
    padding: 8px 0;
    flex: 1;
    justify-content: space-between;
}

.info-about-car * {
    margin-left: 2px;
}


.info-about-car p {
    margin-top: 14px;
    font-weight: 100;
    font-size: 14px;
    max-width: 95%;
    flex: 1;
}

.info-about-car h2 {
    font-size: 26px;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 0px;
}

.info-about-car h3 {
    font-weight: 100;
    font-size: 17px;
    margin-top: 6px;
}

#learn-more {
    font-weight: 100;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 28px;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    color: #F88A0A;
}

#modal {
    background-color: black;
    color: white;
    opacity: 0.95;
    text-align: center;
    z-index: 5;
    height: 600px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
}

.hire-me-div {
    margin-right: 24px;
    justify-content: center;
}

.hire-me-div p {
    margin-bottom: 10px;
}

.hire-me {
    text-align: center;
    background-color: #41913C;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.checkout {
    text-align: center;
    background-color: #41913C;
    color: white;
    margin-top:auto;
    padding: 10px;
    cursor: pointer;
    height:60px;
    line-height: 60px;
    font-size:26px;
}
.modal-wrapper-styling {
    padding:12px;
    height:100%;
    display:flex;
    flex-direction:column;
}
.modal-wrapper-styling * {
    margin-bottom:8px;
    flex:1;
}
.cost-info-modal {
    display:flex;
    justify-content:space-evenly;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}


@media only screen and (max-width: 875px) {
    .nav-styling .padding-left-right-miniscule {
        display: none;
    }

    .container-container-menu {
        display: block;
    }

    input:focus~label,
    input:valid~label {
        display: none;
    }

    .text-part-of-section {
        width: 400px;
        margin-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .input-box-part-of-section {
        width: 400px;
        margin: 0 auto;
    }

    .search-img-wrapper-wrapper {
        margin-top: 12px;
        width: 307px;
        display: flex;
        justify-content: center;

    }

    .search-icon-img-wrapper {
        max-width: 307px;
        max-height: 50px;
        margin: 0;
        border-radius: 4px;
    }

    .white-container {
        flex-direction: column;
        padding: 40px 0;
        border-radius: 8px;
    }

    .home-page-container {
        margin-left: 0;
        border-radius: 12px;
    }

    .input-holder {
        margin: 0;
    }

    #pickup-location {
        margin-bottom: 4px;
    }

    #travel-distance {
        margin-top: 4px;
    }

}



@media only screen and (max-width: 730px) {
    .info-section-card {
        flex-direction: column;
        align-items: center;
    }

    .img-wrapper-car {
        height: 160px;
    }

    .hire-me-div {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .hire-me-div p {
        margin: 0;
    }

    .hire-me-div div {
        margin-right: 12px;
    }

    .hire-me-div h3:first-child {
        margin-left: 12px;
    }

    .info-about-car h4 {
        margin-top: 16px !important;
        margin-bottom: 12px !important;
    }
}

@media only screen and (max-width: 655px) {
    br {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .hire-me-div p {
        font-size: 11px;
    }

    .hire-me-div h3 {
        font-size: 13px;
    }
}